.section-regular {
  position: relative;
  padding: 92px 5%;
}

@media screen and (max-width: 991px) {
  .section-regular {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container-regular {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.header-grid {
  grid-column-gap: 32px;
  grid-row-gap: 64px;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .header-grid {
    grid-template-columns: 1fr;
  }
}

.header-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.header-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.margin-bottom-14 {
  margin-bottom: 14px;
}

.detail {
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.8;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.detail.text-color-gray-400 {
  color: var(--neutral400-322da67b);
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.paragraph-large {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 1.9;
  letter-spacing: -0.02em;
}

.header-button-wrapper {
  margin-top: 40px;
}

.button-primary-right-icon {
  display: flex;
  min-height: 40px;
  padding: 12px 16px 12px 24px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border: 1.5px solid var(--neutral900-1fae3414);
  border-radius: 4px;

  background-color: var(--purpleLight-b6cab109);

  box-shadow: 0 4px 0 0 var(--neutral900-1fae3414);

  transition: background-color 500ms cubic-bezier(0.6, 0.6, 0, 1);

  color: var(--neutral900-1fae3414);
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.button-primary-right-icon:hover {
  background-color: var(--purpleLighter-a8b6f0e7);
}

@media screen and (max-width: 991px) {
  .button-primary-right-icon {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .button-primary-right-icon {
    width: 100%;
  }
}

.icon-regular {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  transition: color 200ms ease;
}

.avatar-wrapper {
  display: flex;
  margin-top: 64px;
  align-items: center;
  grid-column-gap: 14px;
}

@media screen and (max-width: 479px) {
  .avatar-wrapper {
    display: none;
  }
}

.avatar-group-wrapper {
  display: flex;
  align-items: center;
}

.avatar {
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-left: -12px;

  border-style: solid;
  border-width: 2px;
  border-color: hsl(0, 0%, 100%);
  border-radius: 96px;

  background-color: #f3f3f2;
}

.avatar.first-avatar {
  margin-left: 0px;
}

.user-text-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.hero-header {
  position: relative;
  z-index: 9;
  width: 100%;
}

.background-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -1;

  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  justify-content: flex-end;
}

@media screen and (max-width: 991px) {
  .background-wrapper {
    display: none;
  }
}

.background-line-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;

  display: flex;
  width: 100%;
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: flex-start;
}

.line {
  position: relative;
  width: 1px;
  height: 100%;
  background-color: #f2f2f2;
}

.line-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.accent-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 20%;
  z-index: 4;

  min-width: 67px;
}

.accent-1 {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 80%;
  z-index: 4;

  min-width: 29px;
}

#w-node-_70665bf4-0577-5bb9-c12d-69afff31a8c1-ff31a8be {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_70665bf4-0577-5bb9-c12d-69afff31a8dd-ff31a8be {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
@media screen and (max-width: 991px) {
  #w-node-_70665bf4-0577-5bb9-c12d-69afff31a8dd-ff31a8be {
    justify-self: center;
  }
}