.navigation {
  z-index: 99;

  display: flex;
  height: 112px;
  padding-right: 5%;
  padding-left: 5%;
  align-items: center;

  border-bottom: 1px solid hsl(60, 7%, 97%);

  background-color: hsl(0, 0%, 100%);
}

.container-navigation {
  position: relative;

  display: flex;
  width: 100%;
  max-width: 1184px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.text-logo {
  width: 8rem;
}

.nav-menu {
  margin-right: auto;
  margin-left: 40px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    top: 80px;

    width: auto;
    height: auto;
    padding: 40px;
    flex: 0 auto;

    background-color: hsl(0, 0%, 100%);

    box-shadow: 0 40px 380px 0 hsla(0, 0.00%, 0.00%, 0.04);
  }
}

.nav-link-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .nav-link-wrapper {
    margin-left: 0px;
    flex-direction: column;
    flex: 0 0 auto;
  }
}

.nav-link {
  padding: 8px 16px;

  border: 1px solid transparent;

  transition: all 500ms cubic-bezier(0.6, 0.6, 0, 1);

  color: var(--neutral700-152f4451);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.18px;
}

.nav-link:hover {
  border-color: hsl(60, 5%, 88%);
  color: hsl(60, 2%, 8%);
}

.nav-link:global(.w--current) {
  background-color: hsl(60, 7%, 97%);
  color: hsl(60, 2%, 8%);
}

@media screen and (max-width: 991px) {
  .nav-link {
    width: 100%;
  }
}

.menu-button-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
}

@media screen and (max-width: 767px) {
  .menu-button-wrapper {
    grid-column-gap: 8px;
  }
}

.button-primary-right-icon {
  display: flex;
  min-height: 40px;
  padding: 12px 16px 12px 24px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border: 1.5px solid var(--neutral900-1fae3414);
  border-radius: 4px;

  background-color: var(--purpleLight-b6cab109);

  box-shadow: 0 4px 0 0 var(--neutral900-1fae3414);

  transition: background-color 500ms cubic-bezier(0.6, 0.6, 0, 1);

  color: var(--neutral900-1fae3414);
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.button-primary-right-icon:hover {
  background-color: var(--purpleLighter-a8b6f0e7);
}

@media screen and (max-width: 991px) {
  .button-primary-right-icon {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .button-primary-right-icon {
    width: 100%;
  }
}

.icon-regular {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  transition: color 200ms ease;
}

@media screen and (max-width: 991px) {
  .menu-button {
    padding: 8px;
    border: 1px solid var(--neutral900-1fae3414);
    border-radius: 4px;
    background-color: var(--neutral100-4c304fe6);
  }
}

@media screen and (max-width: 991px) {
  .menu-button:global(.w--open) {
    background-color: var(--purpleLight-b6cab109);
    color: var(--neutral900-1fae3414);
  }
}