.section-small {
  position: relative;
  padding: 80px 5%;
}

@media screen and (max-width: 767px) {
  .section-small {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container-regular {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.title-wrapper-center {
  max-width: 600px;
  margin-right: auto;
  margin-bottom: 56px;
  margin-left: auto;
  text-align: center;
}

.collection-list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .collection-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .collection-list {
    grid-template-columns: 1fr;
  }
}

.course-card {
  overflow: hidden;
  height: 100%;

  border: 1.5px solid var(--neutral900-1fae3414);
  border-radius: 12px;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  box-shadow: 0 8px 0 0 var(--neutral900-1fae3414);
}

.course-card-image-wrapper {
  overflow: hidden;
  height: 220px;
  border-bottom: 1.5px solid var(--neutral900-1fae3414);
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-card-text-wrapper {
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1.5px none var(--neutral900-1fae3414);
}

@media screen and (max-width: 479px) {
  .course-card-text-wrapper {
    padding: 24px;
  }
}

.badge {
  display: inline-block;
  margin-bottom: 16px;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;

  border: 1.5px solid var(--neutral900-1fae3414);
  border-radius: 44px;

  background-color: var(--yellowLight-8815a1b6);

  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.badge.purple {
  background-color: var(--purpleLight-b6cab109);
}

.badge.red {
  background-color: var(--redLight-a51e31d0);
}

.badge.pink {
  background-color: var(--pinkLight-00702df2);
}

.badge.gray {
  background-color: var(--neutral700-152f4451);
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.course-card-bottom-row {
  display: flex;
  width: 100%;
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;
  grid-row-gap: 8px;
}

@media screen and (max-width: 767px) {
  .course-card-bottom-row {
    flex-wrap: wrap;
  }
}

.button-primary-small {
  display: flex;
  min-height: 40px;
  padding: 8px 24px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border: 1.5px solid var(--neutral900-1fae3414);
  border-radius: 4px;

  background-color: var(--purpleLight-b6cab109);

  box-shadow: 0 4px 0 0 var(--neutral900-1fae3414);

  transition: background-color 500ms cubic-bezier(0.6, 0.6, 0, 1);

  color: var(--neutral900-1fae3414);
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.button-primary-small:hover {
  background-color: var(--purpleLighter-a8b6f0e7);
}

@media screen and (max-width: 991px) {
  .button-primary-small {
    display: flex;
  }
}

.label-large {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: Inter;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.label-large.text-color-red {
  color: var(--redBase-7296a0e6);
}

.background-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -1;

  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  justify-content: flex-end;
}

@media screen and (max-width: 991px) {
  .background-wrapper {
    display: none;
  }
}

.background-line-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;

  display: flex;
  width: 100%;
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: flex-start;
}

.line {
  position: relative;
  width: 1px;
  height: 100%;
  background-color: #f2f2f2;
}

.line-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.accent-3 {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 90%;
  z-index: 4;

  min-width: 29px;
}

.accent-7 {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 90%;
  z-index: 4;

  min-width: 29px;
}

#w-node-d97bec93-c733-ce2f-e78b-f62fa60cd581-a60cd57a {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-d97bec93-c733-ce2f-e78b-f62fa60cd583-a60cd57a {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}