.template-section {
  padding: 100px 5%;
}

.container-small {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.margin-bottom-08 {
  margin-bottom: 8px;
}

.video-list-wrapper {
  display: flex;
  margin-top: 32px;
  margin-bottom: 64px;
  flex-direction: column;
  grid-row-gap: 24px;
}

.video-card {
  display: flex;
  width: 100%;
  padding: 16px 32px 16px 16px;
  justify-content: space-between;
  align-items: center;

  border: 1.5px solid var(--neutral900-1fae3414);
  border-radius: 10px;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  box-shadow: 0 5px 0 0 black;
}

.video-title-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
}

.video-lightbox-button {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;

  border: 1.5px solid var(--neutral900-1fae3414);
  border-radius: 100%;

  background-color: var(--purpleLight-b6cab109);

  transition: all 300ms ease;
}

.video-lightbox-button:hover {
  width: 52px;
  height: 52px;
}

.icon-regular {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  transition: color 200ms ease;
}

.label-large {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: Inter;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.label-large.text-color-red {
  color: var(--redBase-7296a0e6);
}

.button-primary-right-icon {
  display: flex;
  min-height: 40px;
  padding: 12px 16px 12px 24px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border: 1.5px solid var(--neutral900-1fae3414);
  border-radius: 4px;

  background-color: var(--purpleLight-b6cab109);

  box-shadow: 0 4px 0 0 var(--neutral900-1fae3414);

  transition: background-color 500ms cubic-bezier(0.6, 0.6, 0, 1);

  color: var(--neutral900-1fae3414);
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.button-primary-right-icon:hover {
  background-color: var(--purpleLighter-a8b6f0e7);
}

@media screen and (max-width: 991px) {
  .button-primary-right-icon {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .button-primary-right-icon {
    width: 100%;
  }
}