.section-regular {
  position: relative;
  padding: 92px 5%;
}

@media screen and (max-width: 991px) {
  .section-regular {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container-regular {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.title-wrapper-center {
  max-width: 600px;
  margin-right: auto;
  margin-bottom: 56px;
  margin-left: auto;
  text-align: center;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.detail {
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.8;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.detail.text-color-gray-400 {
  color: var(--neutral400-322da67b);
}

.header-card-wrapper {
  position: relative;
  max-width: 872px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 96px;
}

.header-card-wrapper.mw-correction {
  max-width: none;
}

.circle-course {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -1;

  display: flex;
  width: 100%;
  max-height: 500px;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.gradient {
  width: 100%;
}

.background-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -1;

  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  justify-content: flex-end;
}

@media screen and (max-width: 991px) {
  .background-wrapper {
    display: none;
  }
}

.background-line-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;

  display: flex;
  width: 100%;
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: flex-start;
}

.line {
  position: relative;
  width: 1px;
  height: 100%;
  background-color: #f2f2f2;
}

.line-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.accent-1 {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 80%;
  z-index: 4;

  min-width: 29px;
}

.accent-4 {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 80%;
  z-index: 4;

  min-width: 67px;
}

#w-node-_8f61414a-99a0-749c-0fb6-d39965cc3848-65cc3840 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
@media screen and (max-width: 991px) {
  #w-node-_8f61414a-99a0-749c-0fb6-d39965cc3848-65cc3840 {
    justify-self: center;
  }
}